/**
 * CSS : ARC TYPEFACE
 * https://arctype.bitbucket.io
 */



 html {
    overflow-x: hidden;        // a cause du probleme dans #title
   height: 100%;
   width: 100%;
   --font-size: 3.3em;
   --font-weight: 550;
   --font-width: 75; // in %
 }

 body {
  margin: 0;
 }

 header {
   /*position: fixed;*/
   width: 100%;
   font-family:"ARCSans";
 }


 #title {
   font-size: 1.0em;
   font-weight: 100;
   background-color: #41d2c7;
   padding: 2%;        // provoque un probleme de scrolling horizontal
 }

 section{
     overflow: hidden;
     font-family:"ARCSans";
     height:1080px;
     margin-top: 0;
     padding-top: 6%;
     padding-left: 10%;
     padding-right: 10%;
 }

   #slide1{
     text-align: center;
     background-color: #fd6d22;
     padding-top: 1%;
   }

   #textSlide1{
     font-size: 6.2em;
     line-height: 1.0em;
     font-variation-settings: "wght" var(--font-weight),"wdth" 85;
   }

    #inverted{
      font-variation-settings: "wght" var(--font-weight),"wdth" 85;
    }

    #inverted2{
      font-variation-settings: "wght" var(--font-weight),"wdth" 85;
    }

    #inverted3{
      font-variation-settings: "wght" var(--font-weight),"wdth" 85;
    }

   #slide2{
     text-align: center;
     background-color: #c2c3c4;
   }

   #textSlide2{
    margin: 0px;
    padding: 0px;
    padding-top: 10%;
    font-size: 25.0em;
    /*font-variation-settings: "wght" 400, "wdth" 0 ;*/
    transition-property: font-family: "ARCSans"; font-variation-settings: "wght" 400, "wdth" 0;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
   }

   #textSlide2:hover{
     font-variation-settings: "wght" 400, "wdth" var(--font-width);
   }

   #slide3{
     background-color: #054ada;
     text-align: left;
     padding-left: 2%;
     padding-right: 0%;
     padding-top: 1%;
     color: white;
   }

   #textSlide3{
     font-size: 4.7em;
     line-height: 1.05em;
     font-variation-settings: "wght" 325, "wdth" 0;
     /*transition-property: font-family: "ARCSans"; font-variation-settings: "wght" 100, "wdth" 100;
     transition-duration: .75s;
     transition-timing-function: ease-in-out;*/
   }

   #fat:hover{
    /*background-color: green;*/
    /*font-size: 9em;*/
    font-family: "ARCSans"; font-variation-settings:  "wght" 325, "wdth" 1000;
  }

  span{
    line-height: 0.3em;
  }

  #fat{
    font-size: 1.9em;
    /*font-variation-settings: "wght" 100, "wdth" 900;*/
    transition-property: font-family: "ARCSans"; font-variation-settings: "wght" 325, "wdth" 80;
    transition-duration: 0.45s;
    transition-timing-function: ease-in-out;
  }

  #thin{
    font-size: 1.0em;
    line-height: 1.05em;
    /*font-variation-settings: "wght" 100, "wdth" 900;*/
    transition-property: font-family: "ARCSans"; font-variation-settings: "wght" 325;
    transition-duration: 0.75s;
    transition-timing-function: ease-in-out;
  }

  #thin:hover{
   /*background-color: green;*/
   /*font-size: 9em;*/
   font-family: "ARCSans"; font-variation-settings: "wght" 0;
 }

  p{}

  hr{
    border: 0.5px solid black;
  }

  h1{
    font-size: 0.75em;
    /*font-variation-settings: "wght" 900, "wdth" 0, "opsz" 0;*/
    transition-property: font-family: "ARCSerifSans"; font-variation-settings: "wght" 1000, "wdth" 0;
    transition-duration: 1.15s;
    transition-timing-function: ease-in-out;
  }


  #slide4{
    font-family: "ARCSerifSans";
    font-size: 5.6em;
    padding-left: 2%;
    /*font-weight: 800;
    font-variation-settings: "wght" 325, "wdth" 900;*/
    background-color: #41d2c7;
    transition-property: font-family: "ARCSerifSans"; font-variation-settings: "wght" 325, "wdth" 0, "opsz" 0;
    transition-duration: 4.15s;
    transition-timing-function: ease-in-out;
  }

  #gridText1{
    /*font-family: "ARCSerifSans";
    font-size: 0.325em;
    font-variation-settings: "wght" 325, "wdth" 0, "optsz" 0;
    */
    display: grid;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: auto;
    grid-gap: 4%;

    font-size: 0.325em;
  }

  #slide4:hover{
   /*background-color: green;*/
   /*font-size: 9em;*/
   font-family: "ARCSerifSans"; font-variation-settings: "wght" 325, "wdth" 0, "opsz" 1000;
 }

  span{
    font-variation-settings: "wght" 400, "wdth" 0;
  }

  @media (max-width: 720px) {

  }

 @font-face {
      font-family: 'ARCSans';
      src:url('../font/ARCSans.ttf') format('truetype');
      text-rendering: optimizeLegibility;
  }

  @font-face {
       font-family: 'ARCSerifSans';
       src:url('../font/ARCSerifSans.ttf') format('truetype');
       text-rendering: optimizeLegibility;
   }
